/*...........................LANDSCAPE.........................*/
@media (orientation: landscape) {
  html, body {
    font-size: 3.5vh;
    background-size: 25vw 100vh;
  }

  /*--------------------------menu------------------------------*/
    #menu {
      height: 8vh;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      animation: move-down 1s 1 normal ease-out;
    }

    .place-button {
      flex-basis: 24vw;
      height: 8vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menu {
      width: 22vw;
      height: 6vh;
      background: url("/myImage/borderButtonRed.png");
      background-size: 100% 100%;
      cursor: pointer;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 90%;
    }

    .menu:hover {
      transform: scale(1.1, 1.1);
    }

    h1 {
      margin: 4vh 0 4vh 0;
      width: 100vw;
      text-align: center;
      width: 100%;
      height: auto;
      animation: move-right 1s 1 normal ease-out;
    }

    h2 {
      width: 100vw;
      text-align: center;
      margin-bottom: 5vh;
      width: 100%;
      height: auto;
      padding-right: 20%;
      animation: move-left 1s 1 normal ease-out;
    }

    p {
      margin: 0 0 2vh 0;
    }

    .site-div {
      height: 92vh;
    	width: 100vw;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	overflow-x: hidden;
      overflow-y: scroll;
    	scrollbar-width: thin;
      scrollbar-color: var(--color-font) var(--color-background);
    }

    .site-div::-webkit-scrollbar {
      width: 5px;
    }
    .site-div::-webkit-scrollbar-thumb {
      background-color: var(--color-font);
    }
    .site-div::-webkit-scrollbar-track {
      background-color: var(--color-background);
    }

  /*--------------------------start-page---------------------------*/
  #intro {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .move-up-text {
  	margin: 0 0 4vh 0;
  	height: 20vh;
  	width: 100%;
    overflow: hidden;
  }

  .move-up-text > div {
    width: 100%;
    height: auto;
    animation: scroll-up 8s infinite normal linear;
  }

  .move-up-text > div > p {
  	text-align: center;
  }

  #diagram-skills {
    flex-basis: 100%;
    max-height: 35vh;
  	width: 100vw;
    margin: 0;
  	overflow-x: scroll;
    overflow-y: hidden;
  	scrollbar-width: thin;
    scrollbar-color: var(--color-font) var(--color-background);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 1vw 0 1vw;
  	box-sizing: border-box;
    animation: move-up 1s 1 normal ease-out;
  }

  #diagram-skills::-webkit-scrollbar {
    width: 5px;
  }
  #diagram-skills::-webkit-scrollbar-thumb {
    background-color: var(--color-font);
  }
  #diagram-skills::-webkit-scrollbar-track {
    background-color: var(--color-background);
  }

  .level-skill {
    flex: 1 0 2vw;
    display: flex;
    flex-direction: column;

  }
  .up-indicator {
    flex: 1 0 auto;

  }
  .indicator {
    background: url("/myImage/indicator.png");
    flex: 0 0 10%;
    background-size: 100% 100%;
  }

  .name-skill {
    flex: 0 0 2vw;
    display: flex;
    flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-end;
  }

  .name-skill p {
    text-align: right;
    width: 3vw;
    padding: 0;
    writing-mode: vertical-lr;
    flex-basis: 100%;
  }

  /*-----------------------about-me---------------------------------*/
  #about-me {
    height: 40vh;
    width: 98vw;
    margin: 1vh 0 2vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    animation: move-right 1s 1 normal ease-out;
  }

  .border-img {
    background: url("/myImage/borderImg.png");
    background-size: 100% 100%;
    height: 38vh;
    width: auto;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #photo-programmer {
  width: 92%;
  height: 92%;
  }

  #info-about-the-programmer {
    flex: 0 0 60%;
    margin: 0 1vw 0 1vw;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: 1px;
    scrollbar-color: var(--color-font) var(--color-background);
  }

  #info-about-the-programmer::-webkit-scrollbar {
    width: 1px;
  }
  #info-about-the-programmer::-webkit-scrollbar-thumb {
      background-color: var(--color-font);
  }
  #info-about-the-programmer::-webkit-scrollbar-track {
      background-color: var(--color-background);
  }

  #info-about-the-programmer > p {
    text-indent: 0;
  }

  #education {
    flex-basis: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 2vh;
    animation: move-left 1s 1 normal ease-out;
  }

  #education > p {
    text-align: center;
  }

  #courses {
    flex-basis: 100%;
    height: auto;
    text-align: center;
  }

  #courses  p {
    text-align: center;
  }

  /* ----------------------/work_experience------------------------------*/
  .work-experience {
    width: 100%;
    height: auto;
    margin: 4vh;
    animation: move-left 1s 1 normal ease-out;
  }

  .work-experience > p {
    margin: 0 5vw 0 5vw;
    text-align: center;
  }
  /*----------------------/feedback-------------------------------------*/
  #form-feedback {
    width: 80%;
    height: auto;
    margin: auto;
    animation: move-right 1s 1 normal ease-out;
  }

  #report-on-sending-message {
    text-align: center;
    margin: 6vh 0 6vh 0;
  }

  /*--------------------/completed_projects--------------------------*/
  .project {
    height: auto;
    width: 98vw;
    margin: 2vh 1vw 8vh 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: move-left 1s 1 normal ease-out;
  }

  p {
    text-indent: 2em;
  }

  .border-screenshot {
    background: url("/myImage/bigBolder.png");
    background-size: 100% 100%;
    height: 58vh;
    flex-basis: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2vh 0;
  }

  .screenshot {
    height: 92%;
    max-width: 92%;
  }

  /*--------------------------/admin----------------------------------*/
  #main-admin {
    height: 100vh;
    width: 100vw;
    margin: 1vh 0 1vh 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-font) var(--color-background);
  }

  #main-admin > h2 {
    margin-top: 8vh;
  }

  #main-admin::-webkit-scrollbar {
    width: 1px;
  }
  #main-admin::-webkit-scrollbar-thumb {
      background-color: var(--color-font);
  }
  #main-admin::-webkit-scrollbar-track {
      background-color: var(--color-background);
  }

  .admin-div {
    width: 90%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2vh auto;
  }

  #site-visit-statistic {
    width: 90vw;
    height: 70vh;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-font) var(--color-background);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2vh auto;
    display: none;
}

  #site-visit-statistic::-webkit-scrollbar {
    width: 5px;
  }
  #site-visit-statistic::-webkit-scrollbar-thumb {
    background-color: var(--color-font);
  }
  #site-visit-statistic::-webkit-scrollbar-track {
    background-color: var(--color-background);
  }

  #site-visit-statistic > table {
    width: 100%;
    height: 100%;
  }


  #message {
    height: 30vh;
    width: 90%;
    overflow: hidden scroll;
    scrollbar-width: thin;
    scrollbar-color: red black;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid var(--color-font) 1px;
    margin: 2vh auto;
    display: none;
    flex-direction: column;
  }

  #message::-webkit-scrollbar {
    width: 5px;
  }
  #message::-webkit-scrollbar-thumb {
    background-color: var(--color-font);
  }
  #message::-webkit-scrollbar-track {
    background-color: var(--color-background);
  }

  #skill-variables {
    width: 100%;
    height: auto;
    margin: 2vh 0 0 0;
    display: none;
  }

  #skill-variables > form {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .any-form {
    width: 45%;
    height: auto;
    margin: 2vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .label-input-digit {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1vh 0 0 0;
  }


  .button-submit {
    width: 100%;
    height: 6vh;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-font);
    border-color: var(--color-font);
    cursor: pointer;
    font-family: 'CanisMinor';
    font-size: 100%;
  }

  .button-submit:hover {
    transform: scale(1.01, 1.01);
  }

  .input-text {
    height: 6vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'CanisMinor';
    color: var(--color-font);
    border: 1px solid var(--color-font);
    margin: 0 0 2vh 0;
    padding:  0;
    box-sizing: border-box;
    font-size: 100%;
  }

  .label-digit {
    height: auto;
    width: 100%;
    font-family: 'CanisMinor';
    color: var(--color-font);
    border-color: var(--color-font);
    margin-top: 2vh;
    padding:  0 0 0 1vw;
  }

  .input-digit {
    height: 6vh;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'CanisMinor';
    font-size: 100%;
    color: var(--color-font);
    border-color: var(--color-font);
    margin: 0 0 2vh auto;
    text-align: right;
  }

  .label-text {
    height: auto;
    width: 100%;
    font-family: 'CanisMinor';
    color: var(--color-font);
    border-color: var(--color-font);
    padding:  0 0 0 1vw;
    text-align: left;
    margin: 0 0 2vh 0;
  }

  .input-textarea {
    height: 20vh;
    width: 100%;
    font-family: 'CanisMinor';
    color: var(--color-font);
    border-color: var(--color-font);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0 2vh 0;
    text-align: left;
    padding: 1% 1% 1% 1%;
    box-sizing: border-box;
    font-size: 100%;
  }

  .select-short {
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'CanisMinor';
    font-size: 100%;
    color: var(--color-font);
    border-color: var(--color-font);
    margin: 0 2vw 2vh 0;
    width: 6vw;
    padding-left: 1vh;
    cursor: pointer;
  }

  .form-block-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 6vh;
    width: 100%;
    margin: 0 0 2vh 0;
  }

  .form-block-data > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form-block-data > input {
    width: 30% !important;
    height: 5.7vh !important;
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'CanisMinor';
    font-size: 100%;
    color: var(--color-font);
    border-color: var(--color-font);
  }

  .photo-programmer {
    width: auto;
    height: 46vh;
    border: solid var(--color-font) 0.2vw;
    margin: 2vh auto;
  }

  .button-input {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-font);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3vh;
    grid-template-areas: "A";
    text-align: center;
    height: 6vh;
    width: 100%;
    border: 1px solid var(--color-font);
    margin-top: 2vh;
  }

  .button-input > label {
    height: 6vh;
    width: 100%;
    grid-area: A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .button-input > input {
    height: 6vh;
    width: 100%;
    grid-area: A;
    opacity: 0;
    cursor: pointer;
  }
}
